.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: var(--color-dark-gray);
  padding: 10px 20px;
  position: relative;
}

.navbar-logo .logo {
  width: 80px;
}

.navbar-items {
  display: flex;
  justify-content: center; 
  flex-grow: 1;
}

.nav-item {
  color: var(--color-white);
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.3em;
  font-weight: 500;
}

.nav-item:hover {
  color: var(--color-primary);
}

.nav-item.active {
  color: var(--color-primary);
  font-weight: bold;
}

.navbar-right {
  width: 80px;
}
