.distributions-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.distribution-container .dropdown {
  width: 100%;
  max-width: 300px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}

.distribution-chart h3 {
  margin-bottom: 10px;
}

