.predictions-preview-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.predictions-preview-header-right {
  display: flex;
  gap: 5px;
}

.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
}

.download-button:hover {
  background-color: var(--color-primary-hover);
}

.download-button svg {
  font-size: 16px;
}