.predictions-preview-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}


.preview-search-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}

.search-input-container {
  position: relative;
  flex: 1 1 auto;
}

.preview-search-bar {
  padding: 5px 30px 5px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.preview-search-button {
  padding: 5px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  flex: 0 0 auto;
}

.preview-search-button:hover {
  background-color: var(--color-primary-hover);
}